[Desktop Entry]
Type=Application
Name=WifiHotspot
Icon=/usr/share/wihotspot_gui/hotspot.png
Exec=sh -c 'env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/bin/wihotspot'
Terminal=false
Categories=System
Keywords=Hotspot;WiFi
